/* Color changes */
body{
	background-color: #957DAD;
}

h5 {
	background-color: #ffee135;
	padding: 15px;
}

/* Text alignement for toppings */
#Bacon {
	position: relative;
	top: 2px;
}

#Cheese {
	position: relative;
	top: 2px;
}

#Spinach {
	position: relative;
	top: 2px;
}

#redPepper {
	position: relative;
	top: 2px;
}

#Ham {
	position: relative;
	top: 2px;
}

/* Text alignement for drinks */
#No {
	position: relative;
	top: 2px;
}

#Milkshake {
	position: relative;
	top: 2px;
}

#Coffee {
	position: relative;
	top: 2px;
}

#Tea {
	position: relative;
	top: 2px;
}
